<!DOCTYPE html>
<html>
    <head>
        <title>WebCaching lab</title>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
        <script src="{{ url_for('static', filename='js/cache.js') }}"></script>
    </head>
    <body>
        <form id="login" method="POST">
            Username: <input type="text" id="username" name="username" /> <br/>
            Password: <input type="password" id="password" name="password" /><br/>
            <input type="button" id="save" value="Zapisz" name="save"/>
            <input type="button" id="load" value="Wczytaj" name="load"/>
        </form>

        <div id="imgBox">
          <img src="{{ url_for('static', filename='img/greeting.jpg') }}" id="imidz" width="200"/>
        </div>
        <p>
          <input type="button" id="save_picture" value="Zapisz obrazek"/>
          <input type="button" id="load_picture" value="Wczytaj obrazek"/>
        </p>
        <p>
          <input type="text"   id="which_fibonacci" name="which_fibonacci"/>
          <input type="text"   id="loaded_fibonacci" name="loaded_fibonacci"/>
          <input type="button" id="count_fibonacci" value="Policz Fibonacziego"/>
          <input type="button" id="load_fibonacci" value="Wczytaj Fibonacziego"/>
        </p>

        <!-- Error messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </body>
</html>
