<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h2>Login to view content</h2>
        <form id="login" action="{{ url_for('login')}}" method="POST">
            Username: <input type="text" id="username" name="username" /> <br/>
            Password: <input type="password" id="password" name="password" />
            <input type="submit" id="submit" value="Login" />
        </form>

        <p>
            New user? <a href="{{ url_for('register')}}">Register</a>
        </p>

        <!-- Error messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </body>
</html>